<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>STAT Animal Adoption - View All</title>
		<link rel="stylesheet" href="/Formatting.css">
</head>
<body>
	<h1>STAT Animal Adoption</h1>
	<p>Current user: <strong th:text="${currentUser.userName}"></strong></p>
	<h3>View all animals</h3>
	<!-- This form is used to view all animals to add a favorite -->
	<form>
		<table>
			<tr>
				<!-- Headers -->
				<th>Species</th>
				<th>Name</th>
				<th>Breed</th>
				<th>Size</th>
				<th>Color</th>
				<th>Image (if available)</th>
			</tr>
			<!-- Output each -->
			<tr th:each="currentAnimal : ${animals}" >
			<td th:text="${currentAnimal.species}" />
			<td th:text="${currentAnimal.name}" />
			<td th:text="${currentAnimal.breed}" />
			<td th:text="${currentAnimal.size}" />
			<td th:text="${currentAnimal.color}" />
			<td th:text="${currentAnimal.image}" />
			<!-- Add favorite button -->
			<td><a th:href="@{/addfavoritetolist/{id}/{userId} (id=${currentAnimal.id}, userId=${currentUser.id})}">Add Animal to Favorites</a></td>
			</tr>
		</table>
	</form>
	<div>
		<!-- Navigation -->
		<a class="home" href="/index.html">Return Home</a>
	</div>
</body>
</html>