<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>STAT Animal Adoption - View All</title>
		<link rel="stylesheet" href="Formatting.css">
</head>
<body>
	<h1>STAT Animal Adoption</h1>
	<h3>View All Users</h3>
	<form>
		<table>
		
			<tr th:each="currentUser : ${users}" >
			<td th:text="${currentUser.userName}" />
			<td th:text="${currentUser.password}" />
			<td><a th:href="@{/edituser/{id}(id=${currentUser.id})}">Edit</a></td>
			<td><a th:href="@{/deleteuser/{id}(id=${currentUser.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<a href="../inputAnimal">Add a new animal</a>
	<a href="../inputUser">Add a new user</a>
	<a href="../searchSpecies">Search by species</a>
	<a href="/index.html">Home</a>
</body>
</html>