<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Animal</title>
</head>
<body>
<form th:object="${newAnimal}" th:action="@{/update/{id}(id=${newAnimal.id})}" method='POST'>
	Species: <input name="species" size="20" th:field="*{species}"> <br />
	Name: <input name="name" size="20" th:field="*{name}"><br />
	Breed: <input name="breed" size="20" th:field="*{breed}"><br />
	Size: <input name="size" size="20" th:field="*{size}"><br />
	Color: <input name="color" size="20" th:field="*{color}"><br />
	Image:<input name="image" size="20" th:field="*{image}"><br />
	<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAll">View all Animals</a>

</body>
</html>