<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View Search</title>
</head>
<body>
<form>
<table>
<tr th:each="currentAnimal : ${animalsSearch}" >
<td th:text="${currentAnimal.id}" />
 <td th:text="${currentAnimal.species}" />
 <td th:text="${currentAnimal.name}" />
 <td th:text="${currentAnimal.breed}" />
 <td th:text="${currentAnimal.size}" />
 <td th:text="${currentAnimal.color}" />
 <td th:text="${currentAnimal.image}" />
 <td><a th:href="@{/edit/{id}(id=${currentAnimal.id})}">Edit</a></td>
 <td><a th:href="@{/delete/{id}(id=${currentAnimal.id})}">Delete</a></td>
</tr>
</table>
</form>
<a href="../inputAnimal">Add a new animal</a>
<a href="../searchSpecies">Search by species</a>
</body>
</html>