<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>STAT Animal Adoption - View Search</title>
	<link rel="stylesheet" href="/Formatting.css">
</head>
<body>
	<!-- Header -->
	<header>
		<a href="index.html">
			<img class="box" src="https://static.wikia.nocookie.net/sims/images/b/b5/TS4_Cats_and_Dogs_Icon.png/">
		</a>
		<h1>Team STAT Animal Adoption</h1>
		<b>Your source for friends furred, scaled, and feathery!</b>
	</header>
	<!-- Navigation -->
	<nav>
		<div class="dropdown">
			<button class="dropbtn">Find a Pet</button>
			<div class="dropdown-content">
				<a href="viewAll">View all Animals</a>
				<a href="getSearch">Search Animals by keyword</a>
			</div>
		</div>
		<a class="adopt" href="inputAnimal">Put up for Adoption</a>
		<div class="dropdown">
			<button class="dropbtn">Get Involved</button>
			<div class="dropdown-content">
				<a href="inputUser">Become a volunteer</a>
				<a href="viewAllUsers">See all volunteers</a>
			</div>
		</div>
	</nav>
	<!-- This form is used to  -->
	<form>
		<table>
			<tr>
				<th>Species</th>
				<th>Name</th>
				<th>Breed</th>
				<th>Size</th>
				<th>Color</th>
				<th>Image (if available)</th>
			</tr>
			<tr th:each="currentAnimal : ${animalsSearch}" >
				<td th:text="${currentAnimal.species}" />
				<td th:text="${currentAnimal.name}" />
				<td th:text="${currentAnimal.breed}" />
				<td th:text="${currentAnimal.size}" />
				<td th:text="${currentAnimal.color}" />
				<td th:text="${currentAnimal.image}" />
				<td><a th:href="@{/edit/{id}(id=${currentAnimal.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentAnimal.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<footer>
		Navigation
		<br /><a href="index.html">Home</a>
		<br /><a href="viewAll">View all Animals</a>
		<br /><a href="inputAnimal">Add a new animal</a>
		<br /><a href="getSearch">Search by keyword</a>
		<br /><a href="viewAllUsers">View all Users</a>
		<br /><a href="inputUser">Create New User Profile</a>
	</footer>
</body>
</html>